body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

div.article {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: lightskyblue;
}
div.comment {    
    margin-bottom: 20px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(234, 234, 234);  
}
div.comments-all {
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: lightskyblue;
    margin-top: 20px;
    padding-top: 20px;
}
div.comment-text {
    padding: 20px;
}
span.comment {        
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: lightskyblue;
}

.comment-delete {   
    border-width: 1px;    
    border-radius: 10px;
    border-style: solid;
    border-color: red;
    color: red;
    padding: 0px 3px;
    margin: 0 0 0 6px;
    font-size: 11px;
}

.comment-delete:hover {
    text-decoration: none !important;
    background-color: #d80404;
    color: #fff;
}

/*#right_content #top_menu #live_search{
    width: 280px;
    margin-top: 2px;
    right: 2%;
    padding: 10px 10px 8px;
    display: none;
}
#right_content #selection {
    background-color: #ffd94f;
    padding: 2px 0 0 0;
}*/
/*#right_content #top_menu a{
    line-height: 50px;
    font-size: 18px;
    text-decoration: none;
    text-align: center;
    font-weight: 700;
    color: #333;
    font-family: "roboto condensed",sans-serif;
    text-transform: uppercase;
    margin: 0 4.8%;
    padding: 14px 0;
    /*border: solid;
    border-width: 1px;
    border-color: #497b9c;*/
#search{
    transition: all 150ms;
    background-repeat: no-repeat;
    background-position: 0px 0px;
    width: 36px;
    margin-right: -20px;
    padding: 8px 0px 5px 22px;
    border: none;
    background-color: rgba(255, 255, 255, 0);
    color: white;/*#333;*/
    background-image: url('/Content/images/icon_search.ico');
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 700;
    height: 36px;    
}

input#search:focus{
    width: 120px;
    background-image: none;
}

/*input#search::-webkit-input-placeholder       {color:#222;}
input#search::-moz-placeholder                {color:#222;}  Firefox 19+ 
input#search:-moz-placeholder                 {color:#222;}  Firefox 18- 
input#search:-ms-input-placeholder            {color:#222;}*/

input#search:focus::-webkit-input-placeholder {color:#999;}
input#search:focus::-moz-placeholder          {color:#999;}
input#search:focus:-moz-placeholder           {color:#999;}
input#search:-ms-input-placeholder            {color:#999;}

input#search:hover{
    background-color: rgba(255, 255, 255, 0.4);
}