@model Blog.Models.SearchViewModel
<li>
@using (Html.BeginForm("Search", "Search"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "")
    @Html.TextBoxFor(m => m.SearchString, new { @id = "search", @autocomplete = "off", @placeholder = "Search", @class = "navbar-brand" })
}  
</li>